.lobby-container {
  width: 100vw;
  height: 100vh !important;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.question-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.time {
  font-size: 2rem;
  margin-bottom: 2rem;
}
